sudo: required
serivces:
    - docker

before_install:
    - docker build -t  northcypress/react-test -f ./client/dockerfile.dev ./client

script:
    - docker run northcypress/react-test npm test -- --coverage

after_install:
    - docker build -t northcypress/multi-client ./client
    - docker build -t northcypress/multi-server ./server
    - docker build -t northcypress/multi-worker ./worker
    - docker build -t northcypress/multi-nginx ./nginx
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
    - docker push northcypress/multi-client
    - docker push northcypress/multi-server
    - docker push northcypress/multi-worker
    - docker push northcypress/multi-nginx 